//banner图
.flexslider{position:relative;height:440px;overflow:hidden;background:url('../images/index/page_loading.gif') 50% no-repeat;}
.slides{position:relative;z-index:1;}
.slides li{height:440px;}
.flex-control-nav{position:absolute;bottom:10px;z-index:2;width:100%;text-align:center;left: 33%}
.flex-control-nav li{display:inline-block;width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;}
.flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:#777;cursor:pointer;border-radius: 50%;}
.flex-control-nav .flex-active{background: #d41c4f;}
.flex-direction-nav{position:absolute;z-index:3;width:100%;}
.flex-direction-nav li a{    
    text-indent: -999em;
    display: block;
    width: 33px;
    height: 35px;
    position: absolute;
    top: 195px;
    opacity: 0.3;
    z-index: 999;
    overflow: hidden;
    transition: all 0.2s ease;}
.flex-direction-nav li a.flex-prev{left:30%;background:url('../images/home_spirit.png') -80px 0px no-repeat;}
.flex-direction-nav li a.flex-next{right:15%;background:url('../images/home_spirit.png') -120px 0px no-repeat;}

//版心
.main_wrap{
    width: 1190px;
    margin: 0 auto;
}
//精灵图
.home_spirit{
    background: url('../images/home_spirit.png') no-repeat;
}

//container，产品区
.main_hot{
    margin-top: 10px;
    margin-bottom: 50px;
    a{
        float: left;
        margin-right: 1px;
        width: 395px;
        img{
            width: 100%;
        }
    }
}
.pro_floor{
    margin-bottom: 50px;
    .f_title{
        height: 37px;
        line-height: 37px;
        p{
           width: 500px; 
           height: 34px;
           float: left;
        }
        a{
            float: right;
            color: #666;
        }
    }
}
.title1 p{
    background-position:-259px 0;  
}
.title2 p{
    background-position:-259px -34px;  
}
.title3 p{
    background-position:-259px -68px;  
}
.title4 p{
    background-position:-259px -102px;  
}
.title5 p{
    background-position:-259px -136px;  
}
.f_main{
    overflow: hidden;
    margin-bottom: 10px;
    .main_img{
        float: left;
        width: 229px;
        height: 439px;
        border: 1px solid #e5e5e5;
        overflow: hidden;
        img{
            width: 244px;
        }
    }
}
.swiper-container{
    width: 952px;
    float: right;
    position: relative;
    .swiper-pagination{
        position: absolute;
        right: 0;
        bottom: 0;
        a{
            display: inline-block;
            background-color: #333;
            color: #fff;
            font-size: 12px;
            opacity: .5;
            width: 116px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            font-family: '宋体';
            margin-left: 1px;
            &:hover{
                text-decoration: underline;
                color: #d41c4f;
            }
        }
        a.active{
            opacity: .8;
        }
    }
}
.f_pro_list{
    border: 1px solid #ccc;
    overflow: hidden;
    border-top: 0;
    border-left: 0;
    ul{
        width: 1200px;
        li{
            float: left;
            border: 1px solid #e5e5e5;
            width: 237px;
            margin-right: -1px;
            margin-bottom: -1px;
            text-align: center;
            &>a{
                display: block;
                height: 174px;
                width: 174px;
                margin: 0 auto;
            }
            img{
                width: 100%;
            }
            .pro_info{
                height: 47px;
                padding-bottom: 19px;
                a{
                    display: block;
                    line-height: 28px;
                    font-weight: bold;
                    color: #333;
                }
                span{
                    display: block;
                    line-height: 19px;
                    font-weight: bold;
                    color: #333;
                    i{
                        font-weight: normal;
                        color: #666;
                        text-decoration: line-through;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    
}
.floor_brand{
    margin-top: 44px;
    margin-bottom: 65px;
    p{
        line-height: 44px;
        font-weight: bold;
        font-size: 20px;
    }
    ul{
        li{
            float: left;
            border: 1px solid #e5e5e5;
            margin-right: -1px;
            margin-top: -1px;
        }
    }
}


